asyncio==3.4.3
os
random
logging
re
datetime
typing
python-telegram-bot==20.7
discord.py==2.3.2
web3.py==6.15.0
requests==2.31.0
solders==0.26.0
xrpl-py>=2.2.0
openpyxl==3.1.2
python-dotenv==1.0.1
ratelimit==2.2.1
json
hashlib
pytz==2024.1
aiohttp==3.9.3
